!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title A More Smashing Magazine
		meta
	body
		header
			nav
				a(href='#') Smashing Magazine
				a(href='#') Books
				a(href='#') eBooks
				a(href='#') Workshops
				a(href='#') Job Board
		main
			article
				header
					h1 Team Collaboration And Closing Efficiency Gaps In Responsive Design
					h2 By
						a(href='#') Brian Krall
					time(datetime='2014-05-15 7:00:00') May 15, 2014
					a.category(href='#') Mobile
					a.category(href='#') Responsive Web Design
					a.category(href='#') Workflow
					a(href='#') 1 Comment
				section.summary
					h2 Responsive design ushers in complexities that require a more involved
						| design and implementation process. Because of this, the effort has
						| piled up on the front end. Working in silos, where you talk to each
						| other only occasionally or during scheduled meetings, has too many
						| unknowns. Let’s look at how these new challenges
						strong create opportunities to work together better.
					p We have to kill the mentality that there is an assembly line of workers
						| waiting for it to be their turn, and instead embrace more focused
						| collaboration across the project’s entire team.
				section.content
					h2 Getting Teams To Buy-In
					p Four or five years ago, before responsive design was a “thing,” I was asked to make a comprehensive checklist that our team could follow when building any website. Inevitably, an unexpected task or two would come up, along with a tightrope of a deadline, and we never looked at that checklist during the build. These days, the thought of making a step-by-step checklist for a responsive design build sounds like a cruel joke.
					figure
						img(href='http://www.smashingmagazine.com/wp-content/uploads/2014/05/team-collaboration-rwd.jpg')
						figcaption Collaboration is not something you can force on the team.
							| (Credits:
							a(href='#') Jeffery Zeldman
							| )
					h2 Make The Process More Transparent With Lightweight Deliverables
					p Sharing the decisions being made with the project’s entire team as the design evolves is a great first step. Keeping deliverables lightweight (i.e. sketches or style prototypes that demonstrate strategy instead of pure visual design) will take the pressure off the big reveal. This, first, keeps you from going too far down the rabbit hole without getting feedback and, secondly, creates trust through transparency — when the whole team gets to see the process, it is more likely to make informed decisions.
				section
					h2 Here's a cool song to break up this article:
					audio(src='https://dl.dropboxusercontent.com/u/13227580/01%20The%20Great%20Saboteur.m4a', controls, loop, preload='auto')
				footer
					p Thanks for reading
					a.category(href='#') Mobile
					a.category(href='#') Responsive Web Design
					a.category(href='#') Workflow
			article.author
				img(src='http://0.gravatar.com/avatar/ef7f7f9b6fc154a62f1be9383a7433cb?s=78&d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D78&r=G')
				p Brian's info. He writes things.
		footer
			p With a commitment to quality content for the design community.
			p Founded by Vitaly Friedman and Sven Lennartz. 2006-2014.
			p Made in Germany.
